
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* header */

.head-section{
    background: rgba(255, 144, 14, 0.1);
}
.container{
    max-width: 1440px;
    align-items: center;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
header .logo{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.nav{
    display: flex;
}
.nav li{
    list-style: none;
    margin-left: 40px;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    
}

/* banner */

.banner-info{
    max-Width :862px;
    margin: 0 auto;
    text-align: center;
    margin-top: 102px;
}
.banner-title{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 35px;
}
.banner-info p{
        font-size:16px ;
        font-weight:400 ;
        color: #727272;
}
.banner-info input{
    background-color: #FF900E;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
.banner-img img{
    padding-top: 50px;
    padding-bottom: 45px;
}

/* features */

.features{
    display: flex;
    margin: 90px auto;
    justify-content: center;
    align-items: center;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    grid-row-gap: 24px;
}
.feature-info{
    margin-left: 74px;
    max-width: 535px;

}
.feature-info .title{
    font-size: 45px;
    font-weight: 700;

}
.title .dark{
    color: #727272;
    font-weight: 500;
}
.title .orange{
    font-weight: 700;
    color: #FF900E;
}
.feature-info p{
    font-size:16px ;
    font-weight:400 ;
    color: #727272;
}
.feature-info input{
    background-color: #FF900E;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}


/* services */
.services{
    display: flex;
    justify-content: space-between;
}
.service-info .title{
    font-size: 45px;
    font-weight: 700;
    border-left:5px solid orange;
    width: 464px;
    padding-left: 21px;
}
.service-info p{
    font-size:16px ;
    font-weight:400 ;
    width:586px ;
    color: #727272;
    margin: 20px 0;
}
.all-services{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 20px;
}
.service-1,.service-2,.service-3,.service-4{
   width:  586px;
   padding: 30px;
   background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.service-img h2{
    color: white;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    width:342px;
}
.button{
    background-color: #FF900E;
    color: white;
    padding: 30px 30px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    /* position: relative;
    right: 50px;
    top: -50px; */
}
.button-text{
    color: white;
    font-size: 65px;
    font-weight: 700;
}


/* facts */

.facts{
    margin-top: 100px;
    text-align: center;
}
.facts p{
    font-size:16px ;
    font-weight:400 ;
    width:586px ;
    color: #727272;
    margin: 20px auto;
    text-align: center;
}
.facts h3{
    color: #131313    ;
    font-size: 45px;
    font-weight: 700s;
    margin: 0;
}

.facts-cart{
    display: flex;
    justify-content: space-around;
}

.fact-cart h3{
    font-size: 45px;
    font-weight: 600;
}
.fact-cart h4{
    font-size: 20px;
    font-weight: 600;
}
.fact-1{
    margin: 55px 0;
    padding: 50px;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
 }

 /* .sponsor */
 .sponsors{
    text-align: center;
    margin: 110px auto;

 }
 .sponsors h2{
    font-size: 45px;
    font-weight: 700;
 }

 .sponsors p{
    
    font-size:16px ;
    font-weight:400 ;
    width: 600px;
    color: #727272;
    margin: 0 auto;

 }
 .sponsor-list{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
 }
 

 .footer{
     background: #FFF4E7;
 }
 .footer p{
    font-size: 20px;
    font-weight: 400;
    padding: 40px 400px;
 }



 /* responsive */

 @media screen and (max-width:688px) {
   
    .header{
        flex-direction: column;
 }header .logo{
    color: #131313;
    font-size: 25px;
    font-weight: 700;
}
 .nav{
    flex-direction: column;
 }
 .navbar ul li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #424242;
    
}
 .banner{
    width: 100%;
 }
 .banner-info{
    
    margin: 0 auto;
    text-align: center;
    margin-top: 102px;
}
.banner-title{
    color: #131313;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 35px;
}
.banner-info p{
    font-size:12px ;
    font-weight:400 ;
    color: #727272;
}
.banner-info input,.feature-info input{
    padding: 5px 10px;
    font-size: 14px;
   
}.banner-img img{
    width: 100%;
}
/* header-endd */

.features{
    flex-direction: column;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 12px;
    grid-row-gap: 12px;
}.feature-info{
    margin-left:0;
}.feature-info .title{
    font-size: 24px;
    font-weight: 600;

}

.title .orange{
    font-weight: 600;
    color: #FF900E;
}.feature-info p{
    font-size:12px ;
}
/* .services */

.services{
    display: none;
}
/* facts */

.facts{
    margin-top:0;
    text-align: center;
}
.facts p{
    font-size:12px ;
    font-weight:400 ;
    width:350px ;
}
.facts h3{
    color: #131313    ;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.facts-cart{
    display: flex;
    flex-direction: column;
}

.fact-cart h3{
    font-size: 45px;
    font-weight: 600;
}
.fact-cart h4{
    font-size: 20px;
    font-weight: 600;
}
.fact-1{
    margin: 20px 0;
    padding: 20px;
 }

 /* .sponsor */
 .sponsors{
    text-align: center;
    margin: 20px auto;

 }
 .sponsors h2{
    font-size: 24px;
    font-weight: 700;
 }

 .sponsors p{
    width: 300px;
    font-size:12px ;
    margin: 0 auto;

 }
 .sponsor-list{
    display: flex;
    flex-direction: column;
    align-items: center;

 }
 .sponsor-list img{
    width: 70%;
 }.footer{
    background: #FFF4E7;
    text-align: center;
}
.footer p{
   font-size: 12px;
   font-weight: 400;
   padding: 10px 20px;
}
 


}
